#
#
# Helios defconfig
#
# CONFIG_SECURITY_SELINUX_FAKE_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
CONFIG_SECURITY_SELINUX_NEVER_ENFORCE=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_UKSM=y
CONFIG_POWERSUSPEND=y
# CONFIG_POWERSUSPEND_DEBUG is not set
CONFIG_DYNAMIC_FSYNC=y
CONFIG_NET_UDP_TUNNEL=y
CONFIG_WIREGUARD=y
# CONFIG_WIREGUARD_DEBUG is not set
CONFIG_NR_CPUS=8
CONFIG_NR_CLUSTERS=2
CONFIG_SCHED_HMP=y
CONFIG_DISABLE_CPU_SCHED_DOMAIN_BALANCE=y
# CONFIG_SCHED_HMP_PRIO_FILTER is not set
CONFIG_HMP_FAST_CPU_MASK="4-7"
CONFIG_HMP_SLOW_CPU_MASK="0-3"
CONFIG_HMP_VARIABLE_SCALE=y
CONFIG_HMP_FREQUENCY_INVARIANT_SCALE=y
# CONFIG_SCHED_HMP_LITTLE_PACKING is not set
# CONFIG_HOTPLUG_CPU is not set
# CONFIG_EXYNOS_HOTPLUG_GOVERNOR is not set
