#
#
# KRAKEN defconfig
#
#
# ARM GPU Configuration
#
# CONFIG_MALI_GATOR_SUPPORT is not set
CONFIG_MALI_DVFS=y
CONFIG_MALI_RT_PM=y
CONFIG_MALI_EXYNOS_TRACE=y
CONFIG_MALI_DEBUG_SYS=y
CONFIG_MALI_EXPERT=y
# CONFIG_MALI_DEBUG is not set
# CONFIG_MALI_NO_MALI is not set
# CONFIG_MALI_SYSTEM_TRACE is not set
# CONFIG_MALI_SEC_HWCNT is not set
CONFIG_MALI_SYSTRACE_SUPPORT=y
# CONFIG_MALI_MIDGARD_ENABLE_TRACE is not set
CONFIG_MALI_DEVFREQ=y
CONFIG_DDK_VERSION_OS="q"
CONFIG_MALI_T83X=y
# CONFIG_MALI_R12P0 is not set
# CONFIG_MALI_R15P0 is not set
# CONFIG_MALI_R21P0 is not set
# CONFIG_MALI_R22P0 is not set
# CONFIG_MALI_R28P0 is not set
CONFIG_MALI_R29P0=y
# CONFIG_MALI_DMA_FENCE is not set
# CONFIG_MALI_PRFCNT_SET_SECONDARY is not set
CONFIG_EXYNOS_SOC_NAME="7870"
CONFIG_MALI_MIDGARD=y
# CONFIG_MALI_CORESTACK is not set
# CONFIG_MALI_FENCE_DEBUG is not set
CONFIG_MALI_SEC_CL_BOOST=y
CONFIG_MALI_SEC_UTILIZATION=y
CONFIG_MALI_PM_QOS=y
# CONFIG_MALI_BTS_OPTIMIZATION is not set
CONFIG_MALI_DEBUG_KERNEL_SYSFS=y
# CONFIG_MALI_EXYNOS_SECURE_RENDERING is not set
CONFIG_MALI_PLATFORM_NAME="exynos"
# CONFIG_MALI_2MB_ALLOC is not set
# CONFIG_MALI_PWRSOFT_765 is not set
CONFIG_MALI_SEC_JOB_STATUS_CHECK=y
# CONFIG_MALI_JOB_DUMP is not set
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE_O3=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_DEVFREQ_GOV_SIMPLE_USAGE=y
CONFIG_DEVFREQ_GOV_SIMPLE_EXYNOS=y
CONFIG_DEVFREQ_GOV_SIMPLE_INTERACTIVE=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
# CONFIG_SECURITY_SELINUX_FAKE_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
CONFIG_SECURITY_SELINUX_NEVER_ENFORCE=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_KSM=y
CONFIG_UKSM=y
# CONFIG_UKSM_LEGACY is not set
CONFIG_POWERSUSPEND=y
# CONFIG_POWERSUSPEND_DEBUG is not set
CONFIG_BLK_DEV_NULL_BLK=y
CONFIG_DYNAMIC_FSYNC=y
CONFIG_NET_UDP_TUNNEL=y
CONFIG_WIREGUARD=y
# CONFIG_WIREGUARD_DEBUG is not set
# CONFIG_HOTPLUG_CPU is not set
# CONFIG_EXYNOS_HOTPLUG_GOVERNOR is not set
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_TCP_CONG_HTCP=y
# CONFIG_TCP_CONG_HSTCP is not set
# CONFIG_TCP_CONG_HYBLA is not set
# CONFIG_TCP_CONG_VEGAS is not set
# CONFIG_TCP_CONG_SCALABLE is not set
# CONFIG_TCP_CONG_LP is not set
# CONFIG_TCP_CONG_VENO is not set
# CONFIG_TCP_CONG_YEAH is not set
# CONFIG_TCP_CONG_ILLINOIS is not set
# CONFIG_TCP_CONG_DCTCP is not set
# CONFIG_DEFAULT_BIC is not set
# CONFIG_DEFAULT_CUBIC is not set
# CONFIG_DEFAULT_HTCP is not set
CONFIG_DEFAULT_WESTWOOD=y
# CONFIG_DEFAULT_RENO is not set
CONFIG_DEFAULT_TCP_CONG="westwood"
CONFIG_ZEN_INTERACTIVE=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_INTERACTIVE is not set
CONFIG_CPU_FREQ_GOV_THUNDERSTORM=y
# CONFIG_CPU_FREQ_GOV_THUNDERSTORM is not set
CONFIG_CPU_FREQ_GOV_THUNDERSTORM2=y
# CONFIG_CPU_FREQ_GOV_THUNDERSTORM2 is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_INTERACTIVES9=y
CONFIG_CPU_FREQ_GOV_INTERACTIVES9=y
CONFIG_FINGERPRINT_BOOST=y
CONFIG_CPU_FREQ_GOV_ONDEMANDPLUS=y
CONFIG_CPU_FREQ_GOV_BIOSHOCK=y
CONFIG_CPU_FREQ_GOV_DANCEDANCE=y
CONFIG_CPU_FREQ_GOV_ELECTRODEMAND=y
CONFIG_CPU_FREQ_GOV_HYPER=y
CONFIG_CPU_FREQ_GOV_INTELLIDEMAND=y
CONFIG_CPU_FREQ_GOV_SMARTASS2=y
CONFIG_CPU_FREQ_GOV_SMARTMAX=y
CONFIG_CPU_FREQ_GOV_SMARTMAX_EPS=y
CONFIG_CPU_FREQ_GOV_PEGASUSQ=y
CONFIG_CPU_FREQ_GOV_ONDEMAND_X=y
CONFIG_CPU_FREQ_GOV_IMPULSE=y
CONFIG_CPU_FREQ_GOV_WHEATLEY=y
# CONFIG_CPU_FREQ_GOV_CULTIVATION is not set
CONFIG_CPU_FREQ_GOV_BLU_ACTIVE=y
CONFIG_CPU_FREQ_GOV_CAFACTIVE=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_BIOSHOCK is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_DANCEDANCE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_ELECTRODEMAND is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_HYPER is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_INTELLIDEMAND is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_SMARTASS2 is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_SMARTMAX is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_SMARTMAX_EPS is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_PEGASUSQ is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND_X is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_IMPULSE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_WHEATLEY is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_CULTIVATION is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_CAFACTIVE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMANDPLUS is not set
CONFIG_BFQ_GROUP_IOSCHED=y
CONFIG_IOSCHED_BFQ=y
CONFIG_IOSCHED_FIFO=y
CONFIG_IOSCHED_FIOPS=y
CONFIG_IOSCHED_SIO=y
CONFIG_IOSCHED_SIOPLUS=y
CONFIG_IOSCHED_TRIPNDROID=y
CONFIG_IOSCHED_VR=y
CONFIG_IOSCHED_ZEN=y
CONFIG_IOSCHED_MAPLE=y
CONFIG_IOSCHED_DEADLINE=y
CONFIG_IOSCHED_ROW=y
# CONFIG_DEFAULT_BFQ is not set
# CONFIG_DEFAULT_FIFO is not set
# CONFIG_DEFAULT_FIOPS is not set
# CONFIG_DEFAULT_SIO is not set
# CONFIG_DEFAULT_SIOPLUS is not set
# CONFIG_DEFAULT_TRIPNDROID is not set
# CONFIG_DEFAULT_VR is not set
# CONFIG_DEFAULT_MAPLE is not set
# CONFIG_DEFAULT_ROW is not set
CONFIG_XZ_DEC=y
CONFIG_XZ_DEC_X86=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_XZ_DEC_IA64=y
CONFIG_XZ_DEC_ARM=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_XZ_DEC_BCJ=y
# CONFIG_XZ_DEC_TEST is not set
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_RD_BZIP2=y
CONFIG_RD_LZMA=y
CONFIG_RD_XZ=y
CONFIG_RD_LZO=y
CONFIG_RD_LZ4=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_ARCH_SUPPORTS_INT128=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y 
#
# ARM workarounds
#
CONFIG_ARM64_4K_PAGES=y
# CONFIG_ARM64_16K_PAGES is not set
# CONFIG_ARM64_64K_PAGES is not set
CONFIG_ARM64_VA_BITS_39=y
# CONFIG_ARM64_VA_BITS_48 is not set
CONFIG_ARM64_VA_BITS=39
CONFIG_CPU_FREQ=y
CONFIG_NR_CPUS=8
CONFIG_NR_CLUSTERS=2
CONFIG_SCHED_HMP=y
# CONFIG_SCHED_HMP_PRIO_FILTER is not set
CONFIG_HMP_VARIABLE_SCALE=y
CONFIG_HMP_FREQUENCY_INVARIANT_SCALE=y
# CONFIG_SCHED_HMP_LITTLE_PACKING is not set
CONFIG_DISABLE_CPU_SCHED_DOMAIN_BALANCE=y
CONFIG_HMP_FAST_CPU_MASK="4-7"
CONFIG_HMP_SLOW_CPU_MASK="0-3"
CONFIG_HMP_VARIABLE_SCALE=y
CONFIG_HMP_FREQUENCY_INVARIANT_SCALE=y
# CONFIG_HZ_100 is not set
CONFIG_HZ_250=y
CONFIG_HZ=250
CONFIG_SCHED_HRTICK=y
